:root {
    --textDark: #232526;
    --textDarkHover: #17191a;
    --colorBlack: #17191a;
    --blackGrey: #393b3c;
    --blackGrey1: #4e4e4e;
    --blackGrey2: #616161;
    --bgWhite: #e4e6eb;
    --bgRed: rgb(239;0;0);
    --bgGreen: #baff29;
    --bgGreenHover: #8fc31d;
    --dark: #232526;
    --green: #a3dd24;
    --white: #fefefe;
    --whiteGray: #e6e6e6;
  }
  